html, body{
  height: 100%;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
}

.nav-mx {
  margin-right: 15px;
}

.active {
  font-weight: bold;
}

::-webkit-scrollbar
{
    width: 0px;
}