.area {
  background-color: #e4e5ec;

  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.281);
}

/* MYREVIEWS */
.myreviews {
  display: flex;
}

/* MYREVIEWS-DETAILS */
.myreviews-panel {
  height: 80vh;
  width: 100%;
  position: relative;
  margin: 15px;
  padding: 20px;
  /* transform: translateY(10%); */
}

.myreviews-panel .analysis {
  height: 75px;
  padding: 15px;
  text-align: center;
}

.myreviews-panel .reviews {
  padding: 0 15px 0 15px;
  height: 75vh;
  overflow: scroll;
  background-color: rgb(71, 75, 85);
}
.myreviews-panel .reviews .card-mx {
  display: flex;
  margin: 20px 10px 20px 10px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.281);
}
.myreviews-panel .reviews .card-mx .details{
  width: 400px;
}
.myreviews-panel .reviews .card-mx .show{
  flex: 1;
}
.myreviews-panel .reviews .card-mx button {
  float:right;
  height: 100%;
}
.myreviews-panel .reviews p {
  padding: 1em;
  margin: 0;
}

.myreviews-panel .analysis {
  width: 600px;
  float: left;

  margin-top: 12vh;
}
.myreviews-panel .analysis .poster {
  display: block;
}
.myreviews-panel .analysis .poster img {
  float: left;

  padding: 1em;
  width: 230px;
  height: 330px;
}
.myreviews-panel .analysis .info {
  margin-top: 60px;
}
.myreviews-panel .analysis h4 {
  line-height: 45px; 
}