.explore {
  text-align: center;
  display: flex;
}

.explore-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.explore-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.explore-title {
  font-size: 1.5em;
}

.movies-wall {
  min-width: 820px;
  max-width: 900px;
  height: 600px;
  overflow: scroll;
}

.details-panel {
  width: 100%;

  position: relative;
  top: 50%;
  transform: translateY(10%);
}

.details-panel .analysis {
  height: 100px;
	padding: 0 15px;
}

.details-panel .reviews {
	padding: 5px 15px;
}

.details-panel .new-entry {
  clear: both;
	padding: 0 15px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
