.area {
  background-color: #e4e5ec;

  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.281);
  /* border: 1px solid rgb(107, 107, 107);
  border-radius: 5px; */
}

/* EXPLORE */
.explore {
  display: flex;
}

.explore-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.explore-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.explore-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* EXPLORE-MOVIES */
.movies-wall {
  width: 142vw;
  height: 82vh;
  overflow: scroll;
  margin: 15px;
}


/* EXPLORE-DETAILS */
.details-panel {
  width: 100%;
  position: relative;
  margin: 15px;
  padding: 20px;
  /* transform: translateY(10%); */
}

.details-panel .analysis {
  height: 100px;
	padding: 0 15px;
}


.details-panel .reviews {
  padding: 0 15px 5px 15px;
  height: 54vh;
  overflow: scroll;
}
.details-panel .reviews .card-mx {
  margin-bottom: 10px;
}
.details-panel .reviews img, p {
  padding: 1em;
  margin: 0;
}



.details-panel .new-entry {
  clear: both;
	padding: 0 15px;
}