.explore {
  text-align: center;
}

.explore-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.explore-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.explore-title {
  font-size: 1.5em;
}

.movies-wall {
  width: 800px;
  height: 600px;
  overflow: scroll;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
